# Copie para .env e preencha com os valores do Console Appwrite

EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_PROJECT_NAME="Luz para Vida"

EXPO_PUBLIC_APPWRITE_DATABASE_ID=
EXPO_PUBLIC_APPWRITE_COLLECTION_USUARIOS=usuarios
EXPO_PUBLIC_APPWRITE_COLLECTION_CELULAS=celulas
EXPO_PUBLIC_APPWRITE_COLLECTION_MEMBROS=membros
EXPO_PUBLIC_APPWRITE_COLLECTION_RELATORIOS=relatorios

EXPO_PUBLIC_APPWRITE_BUCKET_AVATARES=
